body{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
.no-padding{
	padding: 0;
}

.center-menu{
	position: fixed;
	z-index: 200;
	left:50%;
	margin-left: -585px;
}

/* NAVBAR */

.navbar-header{
    min-height: 91px;
}
.raien-navbar{
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,.0001) 100%);
	background-color: transparent;
	min-height: 120px;
	top:0px;
}
.top-info-navbar{
	background-image: none;
	background-color: transparent;
	border:none;
	-webkit-box-shadow:none;
	box-shadow: none;
	min-height: 40px;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(0,0,0,.4) 100%);
}

.raien-navbar .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}
.raien-navbar ul{
	margin-top: 21px;
}


.raien-navbar .nav > li.dropdown.open { position: static; }
.raien-navbar .nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; border-radius: 0; }
.raien-navbar .dropdown-menu>li { display: table-cell; }

.sub-navigation-icon{
	width: 80px;
	margin:auto;
	padding: 10px 0px;
	border-bottom:1px solid #CCCCCC;
	
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color:#fff;
	background-image: none;
}
.raien-navbar .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: transparent;
	background-image: none;
}

.caret {
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.sub-navigation-text{
	padding: 8px 0px;
	color: #666666;
	font-size: 10px;
	font-weight:700;
	text-transform: uppercase;
}


/* SLIDER */
.carousel-caption{
	top: 182px;
}

.shadow{
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.0001) 100%);
}


/* BUSCADOR */
.buscador{
	background-color: #DB9805;
	min-height: 95px;
	padding: 36px 0px 30px 0px;
}	 
.buscador input[type="text"]{
	height: 36px;
	border-radius:0px;
	background-color: transparent;
	color: #fff!important;
	border:1px solid #fff; 
	margin-left:-1px;
}

.buscador button{
	height: 36px;
	border-radius:0px;
	background-color:#e6b746;
	color: #fff!important;
	border:none!important;

}

::-webkit-input-placeholder { color: #fff!important;font-size: 12px; } /* WebKit */
:-moz-placeholder { color: #fff!important;font-size: 12px; } /* Firefox 18- */
::-moz-placeholder { color: #fff!important;font-size: 12px; } /* Firefox 19+ */
:-ms-input-placeholder { color: #fff!important;font-size: 12px; } /* IE 10+ */
.buscador .btn-group-lg>.btn, .btn-lg {
    padding: 0px 8px 0px 8px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 0px;
    text-transform: uppercase;
}
.buscador .separar{
	margin-right: 6px;
}

.buscador .fix-padding-btn{
	padding: 0px 26px 0px 8px
}
.buscador .custom-dropdown{
	background-color: transparent;
	border:1px solid #fff!important;
	margin-right: 1px;
}

.buscador .btn-title{
	clear: both;
	width: 150px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	margin-top:-14px;

}


/* media queries */

@media (min-width: 1200px){
	

}

@media (min-width: 992px){
	
	.caret {
	    width: 10%;
	    height: 0;
	    margin-left: 2px;
	    vertical-align: middle;
	    border-top: 4px dashed;
	    border-top: 4px solid\9 #fff;
	    border-right: 4px solid transparent;
	    border-left: 4px solid transparent;
	    clear: both; 
	}
}

@media (min-width: 768px){
	.raien-navbar{
		top: 40px;
	}
	.dropdown-toggle{
		text-align: center
	}
	
	}

}